<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stocks Listing</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav"  >
        <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" /></style> 
           <div class="container px-4 px-lg-5">
               <a class="navbar-brand" href="/">FutureFortune Advisors</a>
               <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                   Menu
                   <i class="fas fa-bars"></i>
               </button>
               <div class="collapse navbar-collapse" id="navbarResponsive">
                   <ul class="navbar-nav ms-auto">
                       <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
                       <li class="nav-item"><a class="nav-link" href="#Services">Services</a></li>
                       <li class="nav-item"><a class="nav-link" href="#footer">Contact</a></li>
                   </ul>
               </div>
           </div>
       </nav>
    <div class="container mt-5">
        <h1 class="text-center">Trending Stocks</h1>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Stock Name</th>
                    <th>Symbol</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                {% for stock in stocks %}
                <tr>
                    <td>{{ stock.id }}</td>
                    <td><a href="{{ url_for('stock_detail', post_slug=stock.slug) }}">{{ stock.name }}</a></td>
                    <td>{{ stock.symbol }}</td>
                    <td>${{ stock.price }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
